<html>
<body>
    <h1>ShopSite</h1>
    <p>
        Invoice no. {{ order.id }}<br>
        <span class="secondary">
            {{ order.created|date:"M d, Y" }}
        </span>
    </p>
    <h3>Bill to</h3>
    <p>
        Name: {{ order.order_receiver_name }}<br>
        Email: {{ order.order_email }}<br>
        Telephone: {{ order.order_telephone }}<br>
        Postal: {{ order.order_receiver_address_postal }}<br>
        Address: {{ order.order_receiver_address }}<br>
    </p>
    <h3>Item Bought</h3>
    <table class="text-left">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order.orderitems.all %}
        <tr>
<!--            class="row{% cycle "1" "2" %}"-->
            <td>{{ item.product.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_cost }}</td>
        </tr>
        {% endfor %}
        <tr class="total">
            <td colspan="3">Total</td>
            <td>${{ order.get_total_cost }}</td>
        </tr>
        </tbody>
    </table>
<span class="{% if order.status_order == 'paid' %}paid{% elif order.status_order == 'pending' %}pending
{% elif order.status_order == 'cancel' %}cancel{% else %}delete{% endif %}">
    {% if order.status_order == 'paid' %}Paid
    {% elif order.status_order == 'pending' %}Pending Payment
    {% elif order.status_order == 'cancel' %}Cancel
    {% else %}Delete
    {% endif %}
</span>

</body>
</html>