{% extends "base.html" %}
{% block title %}Your Order List{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h2>Your Order List</h2>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Kai's Store</div>
                <div class="card-body">
                    <p class="text-left">Order Id</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><img src="/media/product/2019/10/10/9981d5c309b92da9e234069accdaae7a.jpg" height="50" width="50"></td>
                                <td>T-Shirt</td>
                                <td>19.99 X 2</td>
                            </tr>
                            <tr>
                                <td><img src="/media/product/2019/10/10/9981d5c309b92da9e234069accdaae7a.jpg" height="50" width="50"></td>
                                <td>T-Shirt</td>
                                <td>19.99 X 2</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-right">58.99</p>
                </div>
                <div class="card-body text-right">
                    <a href="#" class="btn btn-primary">Pay</a>
                    <a href="#" class="btn btn-primary">Review</a>
                    <a href="#" class="btn btn-primary">After-Sales</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Kai's Store</div>
                <div class="card-body">
                    <p class="text-left">Order Id</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><img src="/media/product/2019/10/10/9981d5c309b92da9e234069accdaae7a.jpg" height="50" width="50"></td>
                                <td>T-Shirt</td>
                                <td>19.99 X 2</td>
                            </tr>
                            <tr>
                                <td><img src="/media/product/2019/10/10/9981d5c309b92da9e234069accdaae7a.jpg" height="50" width="50"></td>
                                <td>T-Shirt</td>
                                <td>19.99 X 2</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-right">58.99</p>
                </div>
                <div class="card-body text-right">
                    <a href="#" class="btn btn-primary">Pay</a>
                    <a href="#" class="btn btn-primary">Review</a>
                    <a href="#" class="btn btn-primary">After-Sales</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}