{% extends "base.html" %}
{% block title %}Your Order List{% endblock %}
{% block content %}
<div class="container">
<!--    <div class="row">-->
<!--        <div class="col-4">-->

<!--        </div>-->
<!--        <div class="col-8">-->

<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-12">
            <br>
            <h3>Your Order Detail Table</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table table-borderless text-muted">
                <tbody>
                    <tr>
                        <td>Order ID</td>
                        <td>{{ orderdetailview }}</td>
                    </tr>
                    <tr>
                        <td>Shops</td>
                        <td>Kai's Store</td>
                    </tr>
                    <tr>
                        <td>Receiver Name</td>
                        <td>{{ orderdetailview.order_receiver_name }}</td>
                    </tr>
                    <tr>
                        <td>Receiver Email</td>
                        <td>{{ orderdetailview.order_email }}</td>
                    </tr>
                    <tr>
                        <td>Receiver Telephone</td>
                        <td>{{ orderdetailview.order_telephone }}</td>
                    </tr>
                    <tr>
                        <td>Receiver Address Postal</td>
                        <td>{{ orderdetailview.order_receiver_address_postal }}</td>
                    </tr>
                    <tr>
                        <td>Receiver Address</td>
                        <td>{{ orderdetailview.order_receiver_address }}</td>
                    </tr>
                    <tr>
                        <td>Created:</td>
                        <td>{{ orderdetailview.created }}</td>
                    </tr>
                    <tr>
                        <td>Used Coupon</td>
                        <td>SUMMERSALE</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Img</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                        <th>Delivery Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orderitem in orderdetailview.orderitems.all %}
                    {% with product=orderitem.product %}
                    <tr>
                        <td><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" height="80" width="80"></a></td>
                        <td>{{ product.name }}</td>
                        <td>{{ orderitem.quantity }}</td>
                        <td>${{ orderitem.price }}</td>
                        <td>${{ orderitem.get_cost }}</td>
                        <td>{{ orderitem.status_delivery }}</td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                    <tr>
                        <td colspan="5"></td>
                        <td>${{ orderdetailview.get_total_cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card-body text-right">
                {% if orderdetailview.status_order == 'unpaid' %}
                <a href="{% url "payment:payment_process" orderdetailview.id %}" class="btn btn-primary">Pay</a>
                <a href="{% url "order:order_cancel" orderdetailview.id%}" class="btn btn-primary">Cancel</a>
                {% elif orderdetailview.status_order == 'paid' %}
                    <a href="{% url "order:order_delete" orderdetailview.id%}" class="btn btn-primary">Delete</a>
                {% endif %}
<!--                <a href="#" class="btn btn-primary">CSV Export</a>-->
                <a href="{% url "order:print_PDF" orderdetailview.id %}" class="btn btn-primary" target='_blank'>PDF Print</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}